<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupbob.persistance.mapper.BoardMapper">

	<!-- 게시판 리스트 쿼리 -->
	<select id="getBoardList" resultType="User_boardDTO">
		SELECT UB.POST_NO,
	           UB.TITLE,               
               UB.VIEW_CNT,
               UI.USER_ID,
               DATE_FORMAT(UB.REG_DT, '%Y-%m-%d') AS REG_DT
          FROM USER_INFO UI,
               USER_BOARD UB
         WHERE UI.USER_NO = UB.USER_NO
         ORDER BY REG_DT DESC
	</select>
	<select id="getBoardDetail" resultType="User_boardDTO" parameterType="User_boardDTO">
		SELECT UB.POST_NO,
			   UB.TITLE,
		       UB.CONTENTS,
		       UB.VIEW_CNT,
		       UI.USER_ID,
		       DATE_FORMAT(UB.REG_DT, '%Y-%m-%d') AS REG_DT
		  FROM USER_INFO UI,
		       USER_BOARD UB
		WHERE UI.USER_NO = UB.USER_NO
		   AND UB.POST_NO = #{post_no};
   </select>
   <delete id="deleteBoartDetailDelete" parameterType="User_boardDTO">
		DELETE FROM USER_BOARD WHERE POST_NO = #{post_no}
   </delete>
</mapper>