<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupbob.persistance.mapper.ChartMapper">
	<select id="getMonthChart" resultType="Chart_DTO">
		SELECT P.PRDT_NAME,
		SUM(O.ORD_AMNT) AS COUNT, DATE_FORMAT(O.REG_DT, '%Y-%m') AS REG_DT
		FROM PRODUCT_INFO P, ORDER_ITEM O
		WHERE P.PRDT_NO = O.PRDT_NO AND
		O.REG_DT LIKE '2017%'
		GROUP BY O.PRDT_NO
		ORDER BY COUNT DESC
	</select>

	<select id="getWeekChart" resultType="Chart_DTO">
		SELECT SUM(ORD_AMNT) AS
		COUNT,
		DATE_FORMAT(REG_DT,'%Y-%m-%d') AS REG_DT
		FROM ORDER_ITEM
		WHERE
		REG_DT >DATE_ADD(NOW(),INTERVAL -7 DAY)
		GROUP BY
		DATE_FORMAT(REG_DT,'%Y-%m-%d');
	</select>

	<select id="getWeekOrdPrice" resultType="Chart_DTO">
		SELECT COUNT(ORD_NO) AS
		COUNT,
		DATE_FORMAT(ORD_DT,'%Y-%m-%d') AS REG_DT,
		SUM(TOTAL_ORD_PRICE)/1000 AS PRICE
		FROM ORDER_INFO
		WHERE ORD_DT >
		DATE_ADD(NOW(),INTERVAL -7 DAY)
		GROUP BY
		DATE_FORMAT(ORD_DT,'%Y-%m-%d');
	</select>
	<select id="getWeekGender" resultType="Chart_DTO">
		SELECT 
			DATE_FORMAT(O.ORD_DT,'%Y-%m-%d') AS REG_DT, IFNULL(M.COUNT,0) AS MALE_COUNT,  IFNULL(F.COUNT,0) AS FEMALE_COUNT
		FROM
  			ORDER_INFO O LEFT OUTER JOIN
 			 (SELECT COUNT(OI.ORD_NO) AS COUNT, OI.ORD_DT AS ORD_DT FROM ORDER_INFO OI, USER_INFO UI WHERE OI.USER_NO = UI.USER_NO AND UI.GENDER = '남자' 
 			 GROUP BY DATE_FORMAT(OI.ORD_DT,'%Y-%m-%d'), UI.GENDER ) M ON O.ORD_DT = M.ORD_DT
  			LEFT OUTER JOIN
  			(SELECT COUNT(OI.ORD_NO) AS COUNT, OI.ORD_DT AS ORD_DT FROM ORDER_INFO OI, USER_INFO UI WHERE OI.USER_NO = UI.USER_NO AND UI.GENDER = '여자' 
  			GROUP BY DATE_FORMAT(OI.ORD_DT,'%Y-%m-%d'), UI.GENDER) F ON O.ORD_DT = F.ORD_DT
		GROUP BY DATE_FORMAT(O.ORD_DT,'%Y-%m-%d');
	</select>
	<select id="getMale" resultType="Chart_DTO">
		SELECT DATE_FORMAT(O.ORD_DT,'%Y-%m-%d') AS REG_DT,COUNT(O.ORD_NO) AS MALE_COUNT
		FROM ORDER_INFO O, USER_INFO U
		WHERE U.USER_NO = O.USER_NO AND U.GENDER = '남자'
		GROUP BY DATE_FORMAT(O.ORD_DT,'%Y-%m-%d');
	</select>
	<select id="getFemale" resultType="Chart_DTO">
		SELECT DATE_FORMAT(O.ORD_DT,'%Y-%m-%d') AS REG_DT,COUNT(O.ORD_NO) AS FEMALE_COUNT
		FROM ORDER_INFO O, USER_INFO U
		WHERE U.USER_NO = O.USER_NO AND U.GENDER = '여자'
		GROUP BY DATE_FORMAT(O.ORD_DT,'%Y-%m-%d');
	</select>
</mapper>