<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupbob.persistance.mapper.OrderMapper">
	<select id="getTotalOrderInfoList" resultType="TotalOrderInfoDTO">
		SELECT OI.ORD_NO,
       		OI.TOTAL_ORD_PRICE,
       		OI.PAYMENT_TP,
       		date_format(OI.ORD_DT, 'YYYY-MM-DD') ORD_DT,
       		OI.ORD_STAT,
       		OI.USR_RCV_TIME,
       		OI.RCV_TIME,
       		OI.RCV_YN,
       		OI.ORD_CANCEL_YN,
       		OI.ORD_CANCEL_TIME,
       		UI.USER_NAME       
  		FROM USER_INFO UI,
       		ORDER_INFO OI       
 		WHERE OI.ORD_NO = OI.ORD_NO
   			AND UI.USER_NO = OI.USER_NO;
	</select>
	<select id="getTotalOrderItemList" resultType="TotalOrderItemDTO" parameterType="String">
		SELECT PI.PRDT_NAME,
      		PI.PRDT_PRICE,
       		OT.ORD_AMNT
  		FROM ORDER_INFO OI,
       		ORDER_ITEM OT,
       		PRODUCT_INFO PI
 		WHERE OT.ORD_NO = '1'
   			AND OI.ORD_NO = #{orderNo}
   			AND OT.PRDT_NO = PI.PRDT_NO;
	</select>
</mapper>