<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupbob.persistance.mapper.OrderMapper">
	<select id="getTotalOrderInfoList" resultType="TotalOrderInfoDTO">
		SELECT OI.ORD_NO,
       		OI.TOTAL_ORD_PRICE,
       		OI.PAYMENT_TP,
       		DATE_FORMAT(OI.ORD_DT, '%Y-%m-%d') AS ORD_DT,
       		OI.ORD_STAT,
       		OI.USR_RCV_TIME,
       		OI.RCV_TIME,
       		OI.RCV_YN,
       		OI.ORD_CANCEL_YN,
       		OI.ORD_CANCEL_TIME,
       		UI.USER_NAME       
  		FROM USER_INFO UI,
       		ORDER_INFO OI       
 		WHERE OI.ORD_NO = OI.ORD_NO
   			AND UI.USER_NO = OI.USER_NO
   			AND OI.ORD_STAT <![CDATA[ < ]]> 4;
	</select>
	<select id="getTotalOrderItemList" resultType="TotalOrderItemDTO" parameterType="String">
		SELECT PI.PRDT_NAME,
      		PI.PRDT_PRICE,
       		OT.ORD_AMNT
  		FROM ORDER_INFO OI,
       		ORDER_ITEM OT,
       		PRODUCT_INFO PI
 		WHERE OT.ORD_NO = OI.ORD_NO
   			AND OI.ORD_NO = #{orderNo}
   			AND OT.PRDT_NO = PI.PRDT_NO;
	</select>
	
	<update id="updateAdminOrderProc" parameterType="hashMap">
		UPDATE ORDER_INFO SET ORD_STAT = #{statNo} WHERE ORD_NO = #{ordNo}
	</update>
	
	<insert id="insertOrderInfo" parameterType="Order_infoDTO">
		INSERT INTO ORDER_INFO
			(
			ORD_NO,
 			TOTAL_ORD_PRICE, 
 			PAYMENT_TP, 
 			ORD_DT, 
 			ORD_STAT,
			USR_RCV_TIME, 
			RCV_YN, 
			USER_NO,
 			REG_USER_NO, 
 			REG_DT
			)
		VALUES
			(
			 #{ord_no},
			 #{total_ord_price}, 
			 #{payment_tp}, 
			 NOW(), 
			 '1',
			 #{usr_rcv_time}, 
			 #{rcv_yn}, 
			 #{user_no},
			 #{user_no}, 
			 NOW()
			);
	</insert>
	<insert id="insertOrderItem" parameterType="list">
		INSERT INTO ORDER_ITEM
			(
 			ORD_NO, PRDT_NO, ORD_AMNT, REG_USER_NO, REG_DT
			)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
 			((SELECT ORD_NO FROM ORDER_INFO WHERE USER_NO = #{item.reg_user_no} ORDER BY REG_DT DESC LIMIT 1), #{item.prdt_no}, #{item.ord_amnt}, #{item.reg_user_no}, NOW())
		</foreach>
	</insert>
	
	<select id="selectOrderList" parameterType="String" resultType="TotalOrderInfoDTO">
		SELECT ORD_NO,
       	  TOTAL_ORD_PRICE,
          DATE_FORMAT(ORD_DT, '%Y-%m-%d') AS ORD_DT,
          ORD_STAT
        FROM 
       	  ORDER_INFO 
        WHERE USER_NO = #{user_no}
        ORDER BY ORD_NO DESC
        LIMIT 5
	</select>
	
	<select id="selectProductList" parameterType="String" resultType="TotalOrderItemDTO">
		SELECT PI.PRDT_NAME,
      		PI.PRDT_PRICE,
       		OT.ORD_AMNT
  		FROM ORDER_INFO OI,
       		ORDER_ITEM OT,
       		PRODUCT_INFO PI
 		WHERE OT.ORD_NO = OI.ORD_NO
   			AND OI.ORD_NO = #{orderNo}
   			AND OT.PRDT_NO = PI.PRDT_NO;
	</select>
	
	<select id="selectOrderMore" parameterType="String" resultType="TotalOrderInfoDTO">
		SELECT ORD_NO,
       	  TOTAL_ORD_PRICE,
          DATE_FORMAT(ORD_DT, '%Y-%m-%d') AS ORD_DT,
          ORD_STAT
        FROM 
       	  ORDER_INFO 
        WHERE USER_NO = #{user_no}
        ORDER BY ORD_NO DESC
        LIMIT 5 OFFSET ${count}
    </select>
	<select id="getOrderNo" resultType="Order_infoDTO" parameterType="string">
		SELECT
			ORD_NO
		FROM
			ORDER_INFO
		WHERE
			USER_NO = #{userNo}
		ORDER BY
			REG_DT
		DESC LIMIT 1;
	</select>
	
</mapper>