<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="com.cupbob.persistance.mapper.UserMapper">

	<select id="getUserList" resultType="User_infoDTO">
		SELECT * FROM USER_INFO
	</select>
	
	<select id="login" resultType="User_infoDTO" parameterType="User_infoDTO">
		SELECT EMAIL, USER_NAME, USER_NO FROM USER_INFO WHERE EMAIL = #{email} AND PASSWORD = #{password}
	</select>
	
	<insert id="join" parameterType="User_infoDTO">
		INSERT INTO USER_INFO(
			EMAIL,
			REG_DT,
			REG_USER_NO,
			CONTACT_ADDR,
			BIRTHDAY,
			GENDER,
			PASSWORD,
			USER_NAME
		) VALUES (
			#{email},
			sysdate(),
			last_insert_id(),
			#{contact_addr},
			#{birthday},
			#{gender},
			#{password},
			#{user_name}
		)
	</insert>
	
	<select id="overlapEmail" parameterType="User_infoDTO" resultType="int">
		SELECT COUNT(*) FROM USER_INFO WHERE EMAIL = #{email}
	</select>
</mapper>