<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupbob.persistance.mapper.MenuMapper">
	<select id="getAdminMenuList" resultType="Product_infoDTO">
		SELECT PRDT_NO, PRDT_NAME, PRDT_PRICE, PRDT_KCAL, DATE_FORMAT(REG_DT, '%Y-%m-%d') AS REG_DT FROM PRODUCT_INFO
	</select>
	
	<insert id="insertAdminMenu" parameterType="Product_infoDTO">
		INSERT INTO
		PRODUCT_INFO
		(
		PRDT_NAME, PRDT_PRICE, CONTENTS, PRDT_KCAL, FILE_NAME, FILE_ORG_NAME, FILE_PATH, VIEW_CNT, USER_NO, REG_USER_NO, REG_DT
		)
		VALUES
		(
		#{prdt_name}, #{prdt_price}, #{contents},#{prdt_kcal}, #{file_name}, #{file_org_name}, #{file_path}, 0, 1, 1, now()
		);
	</insert>
	
	<select id="getAdminMenuDetail" parameterType="Product_infoDTO" resultType="Product_infoDTO">
		SELECT * FROM PRODUCT_INFO WHERE PRDT_NO = #{prdt_no}
	</select>
	
	<delete id="deleteAdminMenuOne" parameterType="Product_infoDTO">
		DELETE
		FROM
		PRODUCT_INFO WHERE PRDT_NO = #{prdt_no}
	</delete>
	<update id="updateAdminMenuNoImg" parameterType="Product_infoDTO">
		UPDATE
		PRODUCT_INFO
		SET PRDT_NAME = #{prdt_name}, PRDT_PRICE = #{prdt_price}, PRDT_KCAL = #{prdt_kcal}, CONTENTS = #{contents}, CHG_USER_NO = 1, CHG_DT = NOW()
		WHERE PRDT_NO = #{prdt_no}
	</update>
	<update id="updateAdminMenuWithImg" parameterType="Product_infoDTO">
		UPDATE
		PRODUCT_INFO
		SET PRDT_NAME = #{prdt_name}
		,PRDT_PRICE = #{prdt_price}
		,PRDT_KCAL = #{prdt_kcal}
		,CONTENTS = #{contents}
		,CHG_USER_NO = 1
		,CHG_DT = NOW()
		,FILE_ORG_NAME = #{file_org_name}
		,FILE_PATH = #{file_path}
		,FILE_NAME = #{file_name}
		WHERE PRDT_NO = #{prdt_no}
	</update>
	
	<delete id="deleteAdminMenuChecked" parameterType="Product_infoDTO">
		DELETE FROM PRODUCT_INFO WHERE PRDT_NO IN
		<foreach item="prdt_no" index="index" collection="allCheck"
			open="(" separator="," close=")">#{prdt_no}</foreach>
	</delete>
	<select id="menuSearch" resultType="Product_infoDTO" parameterType="Product_infoDTO">
		SELECT * FROM PRODUCT_INFO WHERE PRDT_NAME LIKE CONCAT('%', #{prdt_name}, '%')  
	</select>
	<select id="getUserMenuList" resultType="Product_infoDTO">
		SELECT 
			 PRDT_NO,
			 PRDT_NAME,
			 PRDT_PRICE,
			 CONTENTS,
			 FILE_NAME,
			 FILE_PATH,
			 VIEW_CNT,
			 USER_NO,
			 REG_USER_NO,
			 REG_DT,
			 CHG_USER_NO,
			 CHG_DT,
			 FILE_ORG_NAME,
			 PRDT_KCAL
		FROM
			PRODUCT_INFO
	</select>
</mapper>